* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-color: #1f2937;
  padding: 10px 0px 100px;
}

.header {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 24px;
  color: #f9faf8;
}

.links ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: #e5e7eb;
}

.links a:hover {
  background-color: #3f424a;
}

.hero {
  display: flex;
  width: 70%;
  gap: 40px;
}

.hero h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.hero .img {
  color: #f9faf8;
  font-size: 18px;
  background-color: #6e747d;
  display: flex;
  width: 800px;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #3882F6;
  padding: 5px 25px;
  border-radius: 8px;
  border-style: none;
  color: #e5e7eb;
}

button:hover {
  background-color: #5593f7;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 30px 0px;
}

.info .img {
  border: 3px solid #3882f6;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

.info .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 100px;
}

.img-and-subtext {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 150px;
  text-align: center;
}

blockquote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 100px 0px;
  align-items: center;
}

blockquote p {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  width: 50%;
  font-style: italic;
  margin-bottom: 10px;
}

blockquote .author {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  text-align: right;
  width: 40%;
}

.call-to-action {
  display: flex;
  justify-content: center;
  padding: 80px 0px;
}

.call-to-action .container {
  color: white;
  background-color: #3882f6;
  display: flex;
  width: 60%;
  justify-content: space-around;
  padding: 40px 20px;
  border-radius: 10px;
  align-items: center;
}

.call-to-action button {
  border-color: white;
  border-style: solid;
}

.call-to-action p {
  color: #e5e7eb;
}

footer {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 20px 0px;
  text-align: center;
}