* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-color: #1f2937;
  padding: 10px 0px 100px;
}

.header {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 24px;
  color: #f9faf8;
}

.links ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: #e5e7eb;
}

.links a:hover {
  background-color: #3f424a;
}

.hero {
  display: flex;
  width: 70%;
  gap: 40px;
}

.hero h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.hero .img {
  color: #f9faf8;
  font-size: 18px;
  background-color: #6e747d;
  display: flex;
  width: 800px;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #3882F6;
  padding: 8px 25px;
  border-radius: 8px;
  border-style: none;
  color: #e5e7eb;
}

button:hover {
  background-color: #5593f7;
}